
* {
box-sizing: border-box;
}

body {
  background-color: #DADADA;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0auto;
  width: 375px;
}

.block {
  background-color: #fff;
  display: block;
  padding: 18px;
  padding-bottom: 75px;
}

nav {
  margin: 0 auto;
  position: fixed;
  width: 375px;
  background-color: #027780;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: white;
  padding-top: 15px
}

.fas.fa-chevron-left {
  color: white;
  width: 5%;
  display: inline-block;
  float: left;
  transform: scale(2,2);
  padding-left: 3%;
  padding-bottom: 189px;
}

.inline {
  padding-bottom: 29px !important;
}

.fas.fa-walking {
  transform: scale(1.5,1.5);
  color: yellow;
  margin-left: -20px;

}

.distance {
  font-size: 1em;
  font-family: Arial;
  margin-left: 5px;
  color: yellow;
}

img {
  width: 100%;
  height: auto;
}


li {
  background-color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 18px;
  padding-bottom: 30px;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.4em;
  color: #424443;
}


.direction {
  background-color: #3bba9c;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1px;
  padding: 4%;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  color: white;
}

.fas.fa-bus {
  display: inline-block;
  float: left;
  transform: scale(2,2);
}

#on-time {
  color: #89d065;
}

#reroute {
  color: #f0A202;
}

#late {
  color: #ff1500;
}

.bus-number {
  display: inline-block;
  float: left;
  margin-left: 10px;
  font-weight: 550;
  width: 20px;
}


.location {
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 15px;
  width: 160px;
}

.time {
  display: inline-block;
  text-align: left;
  float: right;
  width: 120px;
}
