* {
box-sizing: border-box;
}

body {
  background-color: #DADADA;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0auto;
  width: 375px;
}

nav {
  margin: 0 auto;
  position: fixed;
  width: 375px;
  background-color: #027780;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: white;
  padding-top: 15px
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1px;
  padding: 5%;
}

h3 {
  font-size: 1.4em;
  color: #424443;
  /*padding: 30px; why is padding not govong me pore space between lines?*/
}

img {
  width: 100%;
  height: auto;
}


.fas.fa-chevron-left {
  color: white;
  width: 5%;
  display: inline-block;
  float: left;
  transform: scale(2,2);
  padding-left: 3%;
  padding-bottom: 3%;
}


.direction {
  background-color: #3bba9c;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1px;
  padding: 4%;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
  color: white;

}

.fas.fa-bus {
  display: inline-block;
  float: left;
  transform: scale(2,2);
}

#on-time {
  color: #89d065;
}

#reroute {
  color: #f0A202;
}

#late {
  color: #ff1500;
}

.bus-number {
  display: inline-block;
  float: left;
  padding-left: 2%;
  font-weight: 900;
}


.location {
  display: inline-block;
  float: left;
  text-align: center;
  padding-left: 2%;
}

.time {
  display: inline-block;
  float: left;
  padding-left: 2%;
}

.fas.fa-chevron-right {
  display: inline-block;
  float: right;
  transform: scale(1.5,1.5);
  color: #424443;
}
